<div class="laminas-selector">
    <div class="btn-group">
        <button
            type="button"
            class="btn dropdown-toggle"
            data-toggle="dropdown"
            data-display="static"
            aria-haspopup="true"
            aria-expanded="false"
            id="laminas-selector-dropdown"
        >
            Mezzio
        </button>
        <div
            class="dropdown-menu"
            aria-labelledby="laminas-selector-dropdown"
        >
            <a href="https://docs.mezzio.dev/" class="dropdown-item"> Mezzio </a>
            <a href="https://docs.laminas.dev/components/" class="dropdown-item"> Components </a>
            <a href="https://docs.laminas.dev/mvc/" class="dropdown-item"> MVC </a>
            <a href="https://api-tools.getlaminas.org/" class="dropdown-item"> API Tools </a>
        </div>
    </div>
</div>